/* initial styling and setup of color variables */
:root {
  --movie-yellow: #fff2bb;
  --movie-black: #000000;
  --movie-red: #e9354b;
  --movie-brown: #9e3f34;
  --movie-gold: #B18B45;
}

body {
  font-family: 'Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* Navigation Bar at the top of the page */
.nav {
  background-color: var(--movie-gold);
}

.navbar {
  background-color: var(--movie-gold);
}

.navlink:hover {
background-color: #9e3f34;
border-radius: 5px;
color: var(--movie-black);
}


/* Saved and Search Movies */
.gold {
  background-color: var(--movie-gold);
}



.button {
  background-color: var(--movie-red);
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--movie-brown);
}

.button:hover {
  background-color: var(--movie-brown);
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--movie-black);
}

@media screen and (max-width: 575px) {
  .button {
    margin-top: 8px;
  }
}

.searchform {
  margin: 10px auto;
  text-align: center;
}

.inputbox {
  padding: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--movie-black);
}

/* Login/SignUp form */

.formlink {
  background-color: var(--movie-yellow);
}


/* Cards */
.card {
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--movie-black);
  padding: 20px;
  background-color: var(--movie-yellow);
}

.cardimg {
  margin: auto;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--movie-black);
}

.title {
text-align: center;
font-size: large;
font-weight: bold;
font-family: "Dela Gothic One", sans-serif;
}

.description {
  text-align: center;
}

.release {
  text-align: center;
}

.rating {
  text-align: center;
}